.footer {
    position: relative;
    left: 0;
    right: 0;
    /* bottom: 0; */
    color: white;
    background: rgba(0, 0, 0, 0.83);
}

.rights {
    text-align: right;
    height: 70px;
    padding: 25px 0;
    margin-right: 65px;
}

.rights span {
    font-size: 0.7em;
    white-space: nowrap;
}