<div class="course" [crsHighlightBorder]="course.date">
    <div class="course-header">
        <div class="titled-items">
            <h2>{{ course.name | uppercase }}</h2>
            <svg *ngIf="course.isTopRated"
                class="star"
                xmlns="http://www.w3.org/2000/svg" 
                enable-background="new 0 0 24 24" 
                height="24" 
                viewBox="0 0 24 24" 
                width="24">
                <g>
                    <rect fill="none" height="24" width="24" x="0"/>
                    <polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"/>
                </g>
            </svg>
        </div>

        <div class="course-parameters">
            <div class="course-duration"><span>{{ course.length | minutesToHours }}</span></div>
            <div class="course-date"><span>{{ course.date | date: "MM/dd/yyyy" }}</span></div>
        </div>
    </div>
    <div class="description">
        <p>{{ course.description }}</p>
        <div class="controls">
            <button class="edit-button" [routerLink]="['/courses', course.id]">Edit</button>
            <button class="delete-button" (click)="deleteHandler(course.id)">Delete</button>
        </div>
    </div>
</div>