<div class="wrapper">
    <form [formGroup]="mainForm">
        <!-- E-mail -->
        <label for="title">Title:</label>
        <ng-container *ngIf="mainForm.get('name').invalid && mainForm.get('name').touched">
            <small *ngIf="mainForm.get('name').hasError('required')">
                this field is required
            </small>
            <small *ngIf="mainForm.get('name').hasError('maxlength')">
                Max length of the field is {{ mainForm.get('name').errors['maxlength']['requiredLength'] }}
                but actual length is {{ mainForm.get('name').errors['maxlength']['actualLength'] }}
            </small>
        </ng-container>
        <input type="text"
            formControlName="name"
            placeholder="Enter course title" 
            id="title" 
            name="title">
    
        <!-- Description -->
        <label for="description">Description:</label>
        <ng-container *ngIf="mainForm.get('description').invalid && mainForm.get('description').touched">
            <small *ngIf="mainForm.get('description').hasError('required')">
                this field is required
            </small>
            <small *ngIf="mainForm.get('description').hasError('maxlength')">
                Max length of the field is {{ mainForm.get('description').errors['maxlength']['requiredLength'] }}
                but actual length is {{ mainForm.get('description').errors['maxlength']['actualLength'] }}
            </small>
        </ng-container>
        <textarea  
            formControlName="description"
            id="description" 
            name="description" 
            placeholder="Enter course description" 
            rows="5"></textarea>
    
        <!-- Date -->
        <ng-container *ngIf="mainForm.get('date').invalid && mainForm.get('date').touched" >
                <small *ngIf="mainForm.get('date').hasError('required')">
                    this field is required
                </small>
                <small *ngIf="mainForm.get('date').hasError('formatDate') && !mainForm.get('date').hasError('required')">
                    Date format is incorrect, should be MM/DD/YYYY
                </small>
        </ng-container>
        <crs-date 
            [formControl]="mainForm.get('date')"
            class="date" 
            [date]="mainForm.get('date').value"></crs-date>
    
        <!-- Duration -->
        <ng-container *ngIf="mainForm.get('length').invalid && mainForm.get('length').touched" >
            <small *ngIf="mainForm.get('length').hasError('required')">
                this field is required
            </small>
        </ng-container>
        <crs-duration 
            [formControl]="mainForm.get('length')"
            class="duration"></crs-duration>
    
        <!-- Authors -->
        <!-- skipped for now -->
    <!-- Control buttons -->
    <div class="controls">
        <button [disabled]="!mainForm.valid" class="save" (click)="saveHandler()">Save</button>
        <button class="cancel" (click)="cancelHandler()">Cancel</button>
    </div>

    </form>


</div>