input, textarea {
    display: block;
}

label {
    display: inline-block;
}

.wrapper {
    margin: 0 auto;
    /* max-width: 450px; */
}

input, textarea {
    width: 100%;
    margin-bottom: 25px;
}

.date, .duration {
    margin-bottom: 25px;
    display: block;
    /* width: 25%; */
}

span {
    margin-left: 10px;
}

.controls {
    display: flex;
    gap: 15px;
}

button {
    align-items: center;
    width: 75px;
    padding: 0.7em;
    background: #32afea;
    color: #fff;
    border-radius: 5px;
    border: 0.1px solid rgba(7,120,173,0.7);
    cursor: pointer;
}

.save:disabled {
    background-color: #c3c3c3;
}

form input.ng-invalid.ng-touched {
    border: 1px solid red;
}

small {
    color: red;
}